@media (max-width: 768px) {
 .card-fix{
    flex-direction: column;
 }
}

/* education resources */
.education-resources-section {
    padding: 2rem;
    background-color: #f8f9fc;
    border-radius: 12px;
    margin: 2rem 0;
}

.resources-container {
    text-align: center;
}

.resources-title {
    color: #003366;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.resources-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.resource-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003366;
}

.resource-icon {
    font-size: 2.5rem;
    color: #f56c6c; /* soft red */
    margin-bottom: 0.5rem;
}

.resource-label {
    font-weight: 500;
    font-size: 1rem;
}
