
:root {
    /* --hero-height: calc((1040 / 1920) * 100vw); */
    --hero-height: calc((900 / 1920) * 100vw);
    --hero-text-maxwidth: calc((500 / 1920) * 100vw);
    --image-size: calc((850 / 1920) * 100vw);
    --t-font-size: calc((160 / 1920) * 100vw); /* Title font size */
    --st-font-size: calc((140 / 1920) * 100vw); /* Subtitle font size */
    --p-font-size: calc((20 / 1920) * 100vw);
  }

  .hero-container {
      height: var(--hero-height);
      justify-content: space-between;
      /* position: relative; */
    }
    
    .hero-text {
        max-width: var(--hero-text-maxwidth);
    }

    
    .t-fontsize {
        font-size: var(--t-font-size);
    }
    .st-fontsize {
        font-size: var(--st-font-size);
    }

    .p-fontsize {
        /* font-size: 1em; */
        font-size: var(--p-font-size);
    }

    .hero-image {
        background-color: #ccc; /* Placeholder for image */
        width: var(--image-size);
        height: var(--image-size);
        position: relative;
        bottom: 0;
        align-self: flex-end; /* aligns the image to bottom */
    }

    .c-shadow, .imgfx {
        box-shadow: 0em 0.275em 0.375em 0em rgba(0, 0, 0, 0.2);
    }
    .imgfx {
        opacity: 0.8; /* out of 1 so it is 80% */
    }
    
    .heroproduct-btn {
        background-color: #ff6b6b;
        border: none;
        border-radius: 3.125em;
        padding: 1em 2em; /* relative padding now */
        color: white;
        font-size: 0.75em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        display: inline-flex;
        gap: 0.5em;
        text-decoration: none;
        text-align: center;
    }
    
    /* Hover */
    .heroproduct-btn:hover {
        background-color: #ff4c4c;
    }
    
    /* Image/icon styling */
    .icon {
        height: 1.5em;
        width: 1.5em;
    }

