.mission-title {
  margin-top: 0.5em;
  font-weight: 600;
}

.mission-text {
  max-width: 40em;
  font-size: 0.9em;
}
.mission-text2 {
  margin: 1em auto 2em;
  max-width: 40em;
  line-height: 1.6;
  font-size: 1.1em;
}
.missionlistcaption {
  font-size: 0.8em;
}
.mlistimg {
  width: 2em;
}

.a-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  margin-top: var(--base-spacing);
  cursor: pointer;
}

.info-card {
  background: #f9fafb;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.825em rgba(0, 0, 0, 0.06);
  padding: 4em;
  width: 24em;
  transition: transform 0.3s ease;
}

.info-card:hover {
  transform: translateY(-0.4em);
  transition: all 0.3s ease;
  scale: 1.02;
}

.a-icon {
  font-size: 2.5em;
  color: #1a365d;
  margin-bottom: 1em;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin-left: 8rem;
}

.card-title {
  font-weight: 600;
  font-size: 1.05em;
  color: #000000;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .info-card {
    width: 90%;
  }

  .pgtitle {
    font-size: 2.5em;
  }

  .pgsubtitle {
    font-size: 1.2em;
  }
  
  .mission-text {
    font-size: 1em;
  }
}

