
section {
    width: 100%;
}

.cm-width {
    max-width: 10em;
}

/* product button change this */
a{
    text-decoration: none;
    width: fit-content!important;
}
.learnmorebtn {
    border: 0.125em solid #ff6b6b;
    color: #ff6b6b;
    padding: 0.5em 1.5em ; /* 8px 24px */
    border-radius: 1.875em; /* 30px */
    display: inline-block;
  }
  
  .learnmorebtn:hover {
    background-color: #ff6b6b;
    color: white;
  }
  
/* product button change this */

/* Just A card- Showing Statistics */
.statstitle {
    font-size: 1.825em;
    margin: 0 1.25em;
}

.justacard {
    width: 45vw;
    height: fit-content;
    background-color: #F9FAFB;
    border-radius: 1.25em;
    padding: 2em 1.25em;
    margin: 0 1.25em;
}

.statsno{
    font-size: 2.5em;
    margin: 0 0.5em;
}
.statsdesc{
    font-size: 1.25em;
    color: #4B5563;
    margin: 0 0.5em;
}

/* Just A card- Showing Statistics */